body {
    height: 100%;
}

/* PÁGINA DE LOGIN */

body.bg-login {
    background-color: gainsboro;
}

div.login-bg {
    width: 50%;
    height: 70%;
}

form.custom-width {
    width: 300px;
}

div.form-floating label,
form.login-form div button.btn {
    font-size: 18px;
}